
services:

  user-postgres.diwakar:
    image: postgres:16.3-alpine
    container_name: user-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
#    volumes: #setting the data directory in the project
#        - ./project-db/user-postgres/postgres/:/var/lib/postgresql/data/


  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: user-postgres.diwakar

